<div class="splash-page container-fluid">
  <div id="home-buttons" class="full-height">
    <div class="col-sm-6 text-center full-height">
      <%= link_to profiles_path, class: "no-underline" do %>
        <button class="index-students filter-students">All Students</button>
      <% end %>
    </div>
    <div class="col-sm-6 text-center full-height">
      <%= link_to available_profiles_path, class: "no-underline" do %>
        <button class="index-students filter-students">Available Students</button>
      <% end %>
    </div>
  </div>
</div>
