<div class="col-sm-12" id="profile-projects">
  <%= render partial: "projects/project",
             collection: @profile.projects,
             spacer_template: "profile_list_spacer",
             locals: { profile: @profile }
  %>
</div>
