<div class="col-sm-12">
  <%= render partial: "experiences/experience",
             collection: @profile.experiences,
             spacer_template: "profiles/profile_list_spacer",
             locals: { profile: @profile } %>
</div>
