<div id="<%= dom_id(category) %>" class="row">
  <div class="col-sm-6">
    <p>
      <%= best_in_place category,
                        :name,
                        type: :input,
                        ok_button: "Save",
                        cancel_button: "Cancel",
                        activator: "#activator-#{category.id}"
      %>
    </p>
  </div>

  <div class="col-sm-6 text-right">
    <%= button_tag "Edit", id: "activator-#{category.id}", class: "btn btn-primary" %>
    <%= link_to "Delete",
                category_path(category),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this category?" },
                class: "btn btn-primary",
                role: "button"
    %>
  </div>
</div>
