<div id="skill_categories" class="col-sm-6">
  <h2>Skill Categories</h2>
  <div class="container-fluid">
    <%= render partial: "categories/category",
               collection: @categories,
               spacer_template: "profiles/profile_list_spacer"
    %>
  </div>
</div>

<div id="new_category" class="col-sm-6">
  <%= render "form" %>
</div>
